.about {
	max-width: 66%;
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	margin-left: auto;
	margin-right: 104px;
	padding-bottom: 100px;
	&__main {
		margin-bottom: 30px;
		&_text {
			padding: 32px 0 10px 0;
		}
	}
	&__text {
		color: #ECEFDC;
		margin-bottom: 20px;
		&_green {
			color: #9EBC00
		}
		&_block {
			max-width: 290px;
		}
		&_title {
			font-size: 24px;
			line-height: 120%;
			color: #ECEFDC;
			margin: 30px 0px;
		}
	}
	&__block {
		display: grid;
		grid-template-columns: 1fr auto;
		grid-column-gap: 126px;
		margin-bottom: 30px;
		justify-content: space-between;
		&__text {
			display: flex;
			flex-direction: column;
			justify-content: center;
			&_right {
				margin-left: auto;
			}
			&_bottom {
				max-width: 290px;
			}
		}
		&_reverse {
			grid-template-columns: auto 1fr;
		}
	}
}