#id-page-benefits {
	.block__text_desc {
		font-size: 18px;
		max-width: 303px;

		@include to(1440px) {
			font-size: 14px;
			max-width: 240px;
		}

		@include to(567px) {
			max-width: none;
		}
	}
}

.benefits {
	padding-top: 32px;
	padding-bottom: 130px;

	@include to(770px) {
		padding-bottom: 90px;
	}

	@include to(480px) {
		padding-bottom: 45px;
		padding-top: 10px;
	}

	&__block {
		display: grid;
		grid-template-columns: 1fr 3fr;
		grid-gap: 65px;
		height: 450px;
		margin-bottom: 80px;
		justify-content: space-between;

		@include to(1440px) {
			height: 420px;
		}

		@include to(1370px) {
			height: 370px;
		}

		@include to(850px) {
			height: 325px;
			margin-bottom: 50px;
		}

		@include to(770px) {
			height: 300px;
			grid-gap: 30px;
			grid-template-columns: 2fr 3fr;
		}

		@include to(567px) {
			grid-gap: 0;
			margin-bottom: 35px;
			grid-template-columns: 1fr;
			height: auto;
		}

		.block__text {
			width: 100%;

			&-wrap {
				margin-left: auto;
				display: flex;

				@include to(567px) {
					margin-left: 0;
				}
			}
		}

		&_img {
			width: 100%;
			height: 450px;
			object-fit: cover;

			@include to(1440px) {
				height: 420px;
			}

			@include to(1370px) {
				height: 370px;
			}

			@include to(770px) {
				height: 300px;
			}

			@include to(567px) {
				height: 35vh;
				min-height: 230px;
			}
		}
	}

    @media (min-width:1920px) {
      grid-template-columns: 260px auto;
      grid-gap: 90px;
      justify-content: inherit;
    }
   &__block-revers {
		display: grid;
		grid-template-columns: 3fr 1fr;

		@include to(770px) {
			grid-template-columns: 3fr 2fr;
		}

		@include to(567px) {
			grid-template-columns: 1fr;

			.block__text {
				order: -1;
			}
		}
    }
	&__inf {
		display: flex;
		justify-content: space-between;
		position: relative;

		& > img {
			max-height: 650px;
			object-fit: cover;

			@include to(1440px) {
				max-height: 550px;
			}

			@include to(1025px) {
				max-height: 414px;
			}

			@include to(800px) {
				max-height: 317px;
			}

			@include to(567px) {
				max-height: 230px;
			}

			@include to(375px) {
				max-height: 190px;
			}

			@include to(320px) {
				max-height: 170px;
			}
		}

		@include to(480px) {
			min-height: 350px;

		& >	img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		@include to(320px) {
			min-height: 310px;
		}

		&_block {
			display: flex;
			justify-content: space-between;
			width: 649px;
			height: 220px;
			background: rgba(15, 28, 32, 0.9);
			position: absolute;
			right: 0;
			bottom: 0;
			padding: 50px;

			@media (min-width:1920px) {
				width: 700px;
				height: 230px;
			}

			@include to(680px) {
				flex-wrap: wrap;
				justify-content: center;
				height: auto;
				width: 100%;
			}

			@include to(480px) {
				padding: 30px 25px;
			}
		}
	}
	&__item {
		margin-bottom: 80px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 126px;

		@include to(850px) {
			grid-gap: 80px;
		}

		@include to(770px) {
			grid-gap: 60px;
			margin-bottom: 50px;
		}

		@include to(567px) {
			grid-template-columns: 1fr;
			grid-gap: 30px;
			margin-bottom: 35px;
		}

		&_right {
			margin-right: 0;
		}

		&__block {
			display: flex;
			flex-direction: column;

			.animation-img {
				margin-top: auto;
				height: 402px;
				object-fit: cover;

				@include to(1440px) {
					height: 340px;
				}

				@include to(1370px) {
					height: 300px;
				}

				@include to(1025px) {
					height: 275px;
				}

				@include to(770px) {
					height: 250px;
				}

				@include to(567px) {
					height: 35vh;
					min-height: 230px;
				}
			}
		}
	}
}

.block__text_desc {
	font-weight: normal;
	font-size: 14px;
	line-height: 140%;
	color: #ECEFDC;
	max-width: 240px;
}