body.class-page-contacts {
	background: url(../images/bg/bg-contacts.jpg) no-repeat bottom;
	background-size: cover;
}

#id-page-contacts {
  .contacts-wrap {

  }

	.content {
		width: 100%;
		position: relative;
	}

	.form__field.warn {
		.popup__text-warn {
			opacity: 1;
		}
	}

	.vector-main {
		left: 23%;
	}

	.contacts__top {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
	}
	
	.page-section {
		position: relative;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			height: 82vh;
			background: linear-gradient(180deg, rgba(15, 28, 32, 0) 0%, #0F1C20 100%);
			mix-blend-mode: luminosity;
		}

		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			height: 18vh;
			background: linear-gradient(270deg, #0F1C20 0%, rgba(15, 28, 32, 0.0749543) 92.5%, rgba(15, 28, 32, 0) 100%);
		}
	}
}

.contacts {
	display: grid;
	grid-template-columns: auto auto 394px;
	grid-column-gap: 125px;
	justify-content: space-between;
	&__icon {
		width: 15px;
		height: auto;
		margin-right: 20px;

		@include to(1440px) {
			width: 14px;
		}
	}

	&__form {
		margin-bottom: 27px;
	}

	&__title {
		font-weight: normal;
		font-size: 14px;
		line-height: 160%;
		text-transform: uppercase;

		color: #9EBC00;
		margin-bottom: 20px;
    @media (min-width:1920px) {
      font-size: 16px;
      margin-bottom: 22px;
    }
	}
	&__block {
		display: flex;
		margin-bottom: 10px;
    @media (min-width:1920px) {
      margin-bottom: 12px;
    }
	}
	&__text {
		font-style: normal;
		font-weight: normal;
		line-height: 1.2em;
		color: #ECEFDC;
		text-decoration: none;
	}
	&__link {
		margin-bottom: 30px;
	}
	&__inf {
		&__block {
			display: flex;
			margin-bottom: 15px;
			.contacts__text {
				line-height: 140%;
			}
		}
	}
}

.form__group {
  position: relative;
  margin-top: 10px;
  width: 100%;
	&_textarea {
		padding-top: 22px;
	}

  &.warn {
    .popup__text-warn {
      padding-top: 5px;
      opacity: 1;
      color: #fff;
    }
  }
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #2A363B;
  outline: 0;
  font-size: 1.3rem;
  color: #ECEFDC;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
	&_textarea {
		height: 80px;
		resize: none;
	}

  &::placeholder {
    color: #ECEFDC;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 14px;
		line-height: 100%;
    cursor: text;
    top: 20px;
		color: #ECEFDC;
    @media (min-width:1920px) {
      font-size: 16px;
      top: 22px;
    }
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $gray;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
	color: #9EBC00;
    transition: 0.2s;
    font-size: 1rem;
  }
  padding-bottom: 6px;  
	border-bottom: 1px solid #9EBC00;
}
/* reset input */
.form__field{
  &:required,&:invalid { box-shadow:none; }
}

.pattern__contacts {
	&::after {
		background: linear-gradient(270deg, #0F1C20 0%, rgba(15, 28, 32, 0.0749543) 92.5%, rgba(15, 28, 32, 0) 100%);
	}
}
