.developer {
	padding-top: 20px;
	display: grid;
	grid-template-columns: 47% 53%;
	margin-right: 50px;
	max-width: 66%;
	justify-content: end;
	margin-left: auto;
	padding-bottom: 145px;
	&__site {

		padding: 73px 60px;
		border: 1px solid #2F3435;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		&_logo {
			margin-bottom: 30px;
			max-width: 148px;
		}
	}
	&__contacts {
		padding: 77px 60px;
		border: 1px solid #2F3435;
		border-left: 0;
		display: flex;
		flex-direction: column;
		&_title {
			font-size: 14px;
			line-height: 160%;
			text-transform: uppercase;
			color: #9EBC00;
			margin-bottom: 20px;
		}
	}
}