#id-page-infrastructure {
    background-color: transparent;

    .container-content {
        position: absolute;
        z-index: 10;
        left: 0;
        right: 0;
    }

    .map {
        position: relative;

        @include to(480px) {
            height: 100vh;
        }

        &__close {
            padding: 0;

            &:hover {
                opacity: 0.8;
            }
        }

        &__btn-mobile {
            display: none;

            @include to(480px) {
                display: inline-flex;
                position: absolute;
                bottom: 30px;
                left: 50%;
                z-index: 3;
                transform: translateX(-50%);
            }
        }
        
        &__block {
            height: 100vh;
            width: 100%;
        }

        &::before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            z-index: 3;
            width: 100%;
            height: 42vh;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
        }

        &__link {
            color: #fff;

            @include to(480px) {
                display: none;
            }
        }

        &__infra {
            width: 240px;
            position: absolute;
            bottom: 50%;
            transform: translateY(50%);
            right: 50px;
            z-index: 4;
            transition: all .4s;

            &-wrap {
                display: none;

                @include to(480px) {
                    margin-bottom: 20px;
                    display: flex;
                    justify-content: flex-end;
                }
            }

            &-list {
                height: 350px;
                overflow-y: scroll;
                margin-bottom: 50px;

                &::-webkit-scrollbar-thumb {
                    background-color: #9EBC00;
                }
    
                &::-webkit-scrollbar-track {
                    -webkit-box-shadow: none !important;
                    background-color: transparent;
                }

                @include to(1440px) {
                    height: 300px;
                }

                @include to(480px) {
                    margin-bottom: 0;
                }
            }

            @include to(1440px) {
                bottom: 70px;
                transform: translateY(0);
            }
           
            @include to(480px) {
                background-color: #fff;
                border-radius: 5px;
                padding: 20px;
                width: 270px;
                bottom: 0;
                transform: translate(-50%, 100%);
                pointer-events: none;
                left: 50%;
            }

            &.show {
                transform: translate(-50%, 0);
                pointer-events: initial;
            }

            &-item {
                display: flex;
                align-items: center;
                cursor: pointer;

                &:not(:last-child) {
                    margin-bottom: 25px;
                }

                &-wrap {
                   width: 25px; 
                   margin-right: 18px;
                }

                span {
                    font-size: 14px;
                    line-height: 1.2em;
                    transform: translateY(-2px);
                    color: #0F1C20;
                }

                svg {
                    fill: #9EBC00;  
                    transition: all .4s;
                }

                &:hover {
                    svg {
                        fill: #0F1C20;
                    }
                }

                &--active {
                    svg {
                        fill: #0F1C20;
                    }
                }

                &--1 {
                    svg {
                        width: 15px;
                        height: 21px;

                        @include to(1440px) {
                            width: 13px;
                            height: 19px;
                        }
                    }
                }

                &--2 {
                    svg {
                        width: 21px;
                        height: 12px;
                        
                        @include to(1440px) {
                            width: 19px;
                            height: 10px;
                        }
                    }
                }

                &--3 {
                    svg {
                        width: 23px;
                        height: 21px;
                        
                        @include to(1440px) {
                            width: 21px;
                            height: 19px;
                        }
                    }
                }

                &--4 {
                    svg {
                        width: 22px;
                        height: 23px;
                        
                        @include to(1440px) {
                            width: 20px;
                            height: 21px;
                        }
                    }
                }

                &--5 {
                    svg {
                        width: 22px;
                        height: 22px;

                        @include to(1440px) {
                            width: 20px;
                            height: 20px;
                        }
                    }
                }

                &--6 {
                    svg {
                        width: 21px;
                        height: 22px;

                        @include to(1440px) {
                            width: 19px;
                            height: 20px;
                        }
                    }
                }

                &--7 {
                    svg {
                        width: 22px;
                        height: 22px;

                        @include to(1440px) {
                            width: 20px;
                            height: 20px;
                        }
                    }
                }

                &--8 {
                    svg {
                       width: 24px;
                       height: 22px; 

                       @include to(1440px) {
                           width: 22px;
                           height: 20px;
                       }
                    }
                }

                &--9 {
                    svg {
                       width: 23px;
                       height: 19px; 

                       @include to(1440px) {
                           width: 21px;
                           height: 17px;
                       }
                    }
                }

                &--10 {
                    svg {
                        width: 16px;
                        height: 22px; 

                        @include to(1440px) {
                            width: 14px;
                            height: 20px;
                        }
                    }
                }

                &--11 {
                    svg {
                       width: 20px;
                       height: 22px; 

                       @include to(1440px) {
                           width: 18px;
                           height: 20px;
                       }
                    }
                }
            }
        }
    }
}