.new {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	padding-bottom: 130px;
	&__dates {
		display: flex;
		margin-right: 117px;
	}
	&__back {
		display: flex;
		align-items: center;
		margin-right: 65px;
		&_text {
			font-size: 10px;
			line-height: 100%;
			letter-spacing: 0.05em;
			text-transform: uppercase;
			color: #ECEFDC;
			margin-left: 15px;
		}
	}
	&__container {
		margin-right: 104px;
	}
	&__text {
		font-size: 14px;
		line-height: 160%;
		color: #ECEFDC;
		margin-bottom: 30px;
	}
	&__image {
		margin-bottom: 30px;
	}
}
