#id-page-new {
	.date__block {
		color: #FFF2E4;
	}

	.breadcrumbs {
		margin-bottom: 20px;
	}
}

.new {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	padding-bottom: 130px;

	@include to(770px) {
		padding-bottom: 90px;
	}

	@include to(720px) {
		flex-wrap: wrap;
	}

	@include to(380px) {
		padding-bottom: 45px;
	}

	&__image {
		max-height: 450px;

		@include to(770px) {
			max-height: 400px;
		}

		@include to(480px) {
			max-height: 350px;
		}

		@include to(320px) {
			max-height: 300px;
		}
	}
	
	&__dates {
		display: flex;
		margin-right: 117px;

		@include to(850px) {
			margin-right: 50px;
		}

		@include to(720px) {
			margin-right: 0;
			margin-bottom: 25px;
		}
	}
	&__back {
		display: flex;
		align-items: center;
		margin-right: 65px;
		text-decoration: none;
		transition: all .4s;

		@include to(770px) {
			margin-right: 25px;
		}

		svg {
			width: 6px;
			height: 7px;
			transition: all .4s;

			@include to(1440px) {
				width: 5px;
				height: 6px;
			}
		}

		&_text {
			font-size: 12px;
			line-height: 100%;
			letter-spacing: 0.05em;
			text-transform: uppercase;
			color: #ECEFDC;
			margin-left: 15px;

			@include to(1440px) {
				font-size: 10px;
			}
		}

		&:hover {
			opacity: 0.8;

			svg {
				transform: translateX(-3px);
			}
		}
	}
	&__container {
		margin-right: 104px;

		@include to(1025px) {
			margin-right: 0;
		}
	}
	&__text {
		color: #ECEFDC;
		margin-bottom: 30px;

		@include to(720px) {
			margin-bottom: 20px;
		}

		span {
			color: #9EBC00;
		}
	}
	&__image {
		margin-bottom: 30px;

		@include to(720px) {
			margin-bottom: 20px;
		}
	}
}
