#id-page-news {
  .vector__rounded {
    height: calc(85vh - 80px);

    @media (min-width: 2000px) {
      height: calc(75vh - 80px);
    }
  }

  @include to(1200px) {
	  .vector {
		  display: none;
	  }
  }

  .progress__pagination {
	  bottom: 6px;
	  transform: translateY(-21px);
	  width: 100%;
	  justify-content: center;
  }
}

.pagination__button {
	padding: 0;
	margin-top: 0 !important;

	&:not(:last-child) {
	  margin-right: 20px;

	  @include to(480px) {
		  &:not(:last-child) {
			  margin-right: 15px;
		  }
	  }
	}	

	&.pagination__button--prev {
		margin-right: 40px;
		padding-left: 20px;

		@include to(480px) {
			margin-right: 25px;
		}
	}

	&.pagination__button--next {
		margin-left: 20px;
		padding-right: 20px;

		@include to(480px) {
			margin-left: 10px;
		}
	}

	&.pagination__button--prev::before,
	&.pagination__button--next::before {
		top: 5px;
	}
}

.news__blocks {
	position: relative;
}

.filter {
	&__container {
		z-index: 20;
		position: fixed;
		left: 20%;
		top: 225px;
		border: 1px solid #2F3435;
		padding: 50px 55px;
		height: min-content;
    @media (min-width:1920px) {
      left: 25%;
    }
	}

	&__month__fill {
		position: relative;
	}

	&__year__fill {
		position: relative;
		z-index: 5;

		.filter__link.active {
			color: #0F1C20;

			&::before {
				transform: translateX(none);
				border-left-color: #0F1C20;
			}
		}
	}

	&__text, &__link {
		position: relative;
		font-size: 12px;
		text-decoration: none;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: #FFFFFF;
		min-width: 55px;
		transition: all .4s;
		cursor: pointer;

		&::before {
			content: "";
			position: absolute;
			width: 0; 
			height: 0; 
			right: 0;
			top: 2px;
			border-top: 3px solid transparent;
			border-bottom: 3px solid transparent;
			border-left: 5px solid transparent;
			transform: translateX(-3px);
			transition: all .4s;
		}

		@include to(1440px) {
			font-size: 10px;
		}

		&:hover,
		&.active {
			color: #0F1C20;

			&::before {
				border-left-color: #0F1C20;
				transform: translateX(0);
			}
		}
	}

	&__month__block {
		.filter__link {
			&::before {
				display: none;
			}

			span {
				display: inline-flex;
				position: relative;

				&::before {
					content: "";
					position: absolute;
					width: 0; 
					top: 2px;
					height: 0; 
					right: -32px;
					border-top: 3px solid transparent;
					border-bottom: 3px solid transparent;
					border-left: 5px solid transparent;
					transform: translateX(-3px);
					transition: all .4s;

					@include to(480px) {
						right: -22px;
					}

					@include to(320px) {
						right: -15px;
					}
				}

				&:hover {
					color: #0F1C20;
		
					&::before {
						border-left-color: #0F1C20;
						transform: translateX(0);
					}
				}
			}

			&.disabled {
				cursor: default;
				pointer-events: none;

				span {
					color: #BDD734;

					&::before {
						display: none;
					}
				}
			}

			&.active span {
				color: #0F1C20;
				
				&::before {
					border-left-color: #0F1C20;
					transform: translateX(0);
				}
			}
		}
	}

	&__title {
		margin-bottom: 26px;
		display: flex;
		position: relative;
	}
	&__line {
		width: 77%;
		position: absolute;
		height: 4px;
		right: -38px;
		border-radius: 1.5px 0 0 1.5px;
		border: 1px solid #BDD734;
		border-right: none;
	}
	&__year {
		opacity: 0;
		pointer-events: none;
		transition: opacity 0.4s;
		width: 120px;
		background: #9EBC00;
		position: absolute;
		top: -40px;
    right: -14px;
    transform: translate(83%, 0);
		
    flex-direction: column;
    padding: 38px;
    justify-content: space-between;
	
	.filter__link:not(:last-child) {
		margin-bottom: 26px;
	}

		&__fill {
			&:hover { 
				.filter__year {
					opacity: 1;
					pointer-events: initial;
				}

				& .chevron__filter {
					transform: rotate(59deg);
				}
			}
		}
	}
	&__month {
		opacity: 0;
		pointer-events: none;
		transition: opacity 0.4s;
		width: 490px;
		background: #9EBC00;
		position: absolute;
		top: 0;
    	right: -14px;
		flex-direction: column;
		transform: translate(102%, -81%);
		padding: 38px;

		@include to(480px) {
			padding: 30px 25px;
			width: 100vw;
			z-index: 5;
			transform: translate(35%, -81%);
			right: -24px;
		}

		@include to(375px) {
			right: -19px;
		}

		@include to(320px) {
			right: -10px;
		}

		&__container {
			display: flex;
			height: 100%;
		}

		&__block {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			width: 33%;

			.filter__link:not(:last-child) {
				margin-bottom: 26px;
			}
		}
		&__fill {
			&:hover {
				.filter__month {
					opacity: 1;
					pointer-events: initial;
				}

				& .chevron__filter {
					transform: rotate(59deg);
				}

				&::before {
					display: block;
				}
			}
		}
	}
}

.filter__month,
.filter__year {
	&::before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 25px;
		transform: translateX(-100%);
		background-color: transparent;
	}
}

.filter__year {
	&::before {
		height: 30%;
	}
}

.news {
	max-width: 78%;
	display: flex;
	justify-content: flex-end;
	margin-left: auto;
	align-items: flex-start;
	padding-bottom: 100px;

	@include to(1440px) {
		max-width: 80%;
	}

	@include to(1200px) {
		max-width: 100%;
		display: flex;
		width: 100%;
		justify-content: stretch;
	}

	@include to(480px) {
		flex-wrap: wrap;
		justify-content: center;
		padding-bottom: 45px;
	}

	.filter__month__fill-block {
		display: inline-flex;
		align-items: center;
		cursor: pointer;
	}

	&__filter {
		z-index: 5;
		margin-right: 45px;
		border: 1px solid #2F3435;
		padding: 50px 55px;
		position: relative;

		@include to(1025px) {
			width: 100%;
			width: 200px;
		}

		@include to(480px) {
			margin-right: 0;
			margin-bottom: 30px;
			padding: 25px 20px;
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		.chevron__filter {
			margin-left: 22px;
		}

		.chevron {
			width: 7px;
			transition: all .4s;

			@include to(1440px) {
				width: 6px;
			}
		}

		&__year {
			margin-bottom: 36px;
		}
		&__fill {
			cursor: pointer;
			font-weight: normal;
			font-size: 10px;
			line-height: 100%;
			letter-spacing: 0.05em;
			text-transform: uppercase;

			color: #ECEFDC;
			display: flex;
			
			align-items: center;
		  @media (min-width:1920px) {
        font-size: 12px;
      }
		}

		.filter__month__fill {
			.chevron__filter {
				margin-left: 25px;
				transition: all .4s;
			}

			.filter__link {
				cursor: pointer;
			}
		}

		&_title {
			font-weight: normal;
			font-size: 24px;
			line-height: 100%;
			color: #ECEFDC;
			margin-bottom: 30px;
      @media (min-width:1920px) {
        font-size: 26px;
        margin-bottom: 32px;
      }
		}
		&_desc {
			font-weight: normal;
			font-size: 12px;
			line-height: 12px;
			color: #CAD1A6;
			margin-bottom: 20px;
      @media (min-width:1920px) {
        font-size: 14px;
        margin-bottom: 22px;
      }
		}
	}
	&__blocks-wrap {
		width: 100%;
		display: grid;
    grid-template-columns: repeat(2, 1fr);
		grid-auto-rows: auto;
		grid-gap: 45px;

		@include to(1025px) {
			grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		} 

		@include to(850px) {
			display: flex;
			flex-wrap: wrap;
		}

		@include to(480px) {
			grid-gap: 30px;
		}
	}
	&__item {
		text-decoration: none;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		position: relative;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

		img {
			position: static;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}

		&__link {
			position: static;
			bottom: 30px;
			right: 30px;
			margin-top: 150px;
			display: flex;
			justify-content: flex-end;
			opacity: 0;
			pointer-events: none;
			transition: all .4s;
			&_more {
				background: #0F1C20;
				transition: all .4s;

				&:hover {
					border-color: transparent;
				}
			}

			@include to(1025px) {
				margin-top: 115px;
			}

			@include to(850px) {
				margin-top: 95px;
			}

			@include to(480px) {
				margin-top: 65px;
			}

			@include to(320px) {
				margin-top: 55px;
			}
		}
		&__text {
			display: flex;
			flex-direction: column;
			transition: all .4s;
			width: 100%;
			height: 100%;
			position: static;
			top: 0;
			left: 0;
			background: linear-gradient(180deg, rgba(15, 28, 32, 0.8) 0%, rgba(15, 28, 32, 0.4) 100%);
			padding: 40px 60px 40px;
			&:hover {
				background: rgba(158, 188, 0, 0.8);
				.date__block {
					color: #FFFFFF;
				}
				.news__item__link {
					opacity: 1;
					pointer-events: initial;
				}
			}

			&__wrap {
				margin-bottom: auto;
				max-width: 275px;

				@include to(1440px) {
					max-width: 250px;
				}
			}

			.date__block {
				color: #ECEFDC;
			}

			@include to(1025px) {
				padding: 30px 40px 30px;
			}

			@include to(480px) {
				padding: 25px 30px;
			}
	
		}
		&_title {
			font-weight: normal;
			font-size: 18px;
			line-height: 140%;
			color: #ECEFDC;
			margin-top: 20px;

			@media (min-width:1920px) {
				font-size: 20px;
				margin-top: 22px;
			}

			@include to(480px) {
				margin-top: 13px;
				font-size: 16px;
			}
		}

		@include to(850px) {
			width: 100%;
		}
	}
}

.news__item:nth-child(3n) {
	grid-column: span 2;
}
