

.progress {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-gap: 100px;
	padding-bottom: 130px;
	&__inf {
		&_title {
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			line-height: 160%;
			color: #9EBC00;
			margin-bottom: 10px;
		}
		&_text {
			font-weight: normal;
			font-size: 14px;
			line-height: 140%;
			color: #ECEFDC;
			max-width: 300px;
			margin-bottom: 20px;
		}
	}
	&__blocks {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 45px;
		grid-row-gap: 30px;
	}
	&__text {
		margin-top: 20px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		&_mounth {
			font-size: 18px;
			line-height: 120%;
			color: #ECEFDC;
		}
	}
	&__pagination {
		display: flex;
		width: 50%;
		margin: auto;
		justify-content: space-between;
	}
	&__item {
		&__block {
			position: relative;
		}
		&_button {
			border: none;
			outline: none;
			border-radius: 50%;
			padding: 17px;
			width: 50px;
			height: 50px;
			opacity: 0;
			transition: all 0.3s ease-in-out;
			&:hover {
				transform: scale(1.1);
			}
		}
		&__more {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			transition: background 0.3s ease-in-out;
			display: flex;
			align-items: center;
			justify-content: center;
			&:hover {
				background: rgba(158, 188, 0, 0.8);
				.progress__item_button {
					opacity: 1;
				}
			}
		}

	}

}



.items {
  display: grid;
	grid-template-columns: repeat(4, 65px);
	grid-gap: 32px;
}

.item svg {
  display: block;
  margin: auto;
	width: 100%;
}

.item div {
  font-size: 12px;
		line-height: 100%;
		/* identical to box height, or 12px */

		text-align: center;

		/* GREEN LIGHT */

		color: #CAD1A6;
		padding-top: 20px;
}

circle {
  transform-origin: center;
  transform-box: fill-box;
  transform: rotate(-270deg);
  stroke-linejoin: round;
  stroke-width: 10px;
  fill: none;
}

text {
	font-size: 80px;
	line-height: 100%;

	text-align: center;

	fill: #CAD1A6;
}


.c1 {
  stroke: #9EBC00;
  stroke-dasharray: 0 1383;
  animation: c1 1.5s linear forwards;
}

.c2 {
  stroke: #9EBC00;
  stroke-dasharray: 0 1383;
  animation: c2 1.5s linear forwards;
}

.c3 {
  stroke: #9EBC00;
  stroke-dasharray: 0 1383;
  animation: c3 1.5s linear forwards;
}

.c4 {
  stroke: #9EBC00;
  stroke-dasharray: 0 1383;
  animation: c4 1.5s linear forwards;
}

@keyframes c1 {
  0% {
    stroke-dasharray: 0 1383;
  }
  100% {
    stroke-dasharray: 850 1383;
  }
}

@keyframes c2 {
  0% {
    stroke-dasharray: 0 1383;
  }
  100% {
    stroke-dasharray: 300 1383;
  }
}

@keyframes c3 {
  0% {
    stroke-dasharray: 0 1383;
  }
  100% {
    stroke-dasharray: 700 1383;
  }
}

@keyframes c4 {
  0% {
    stroke-dasharray: 0 1383;
  }
  100% {
    stroke-dasharray: 220 1383;
  }
}


.pagination__button {
	font-family: "TTFirsNeue";
	margin-top: 50px;
	display: flex;
	background: transparent;
	border: none;
	outline: none;
	font-size: 14px;
	line-height: 100%;
	color: #ECEFDC;
	align-items: center;
	p {
		margin: 0 10px;
	}
}


.container-gallery {
	position: relative;
}


.gallery {
	position: absolute;
	top: 0;
	width: 100%;
	left: 50%;
	z-index: 4;
	transform: translate(-50%);
}

.gallery-thumbs {
  width: 100px;
  height: 500px;
  position: absolute;
  z-index: 2;
  bottom: 0;
  right: 0;
  margin: auto;
}

.gallery-thumbs .swiper-slide {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
	opacity: 0.5;
  img {
    height: 100%;
  }

}

.gallery-thumbs .swiper-slide-active {
	opacity: 1;
}

.gallery-top {
  width: 100%;
  height: 100vh;
}

.gallery-top .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}




.swiper__content {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 200px;
}

.swiper__btns_gallery {
  display: flex;
  justify-content: space-between;
  width: 158px;
  margin-right: 40px;
}

.swiper-button-prev_gallery, .swiper-button-next_gallery {
  cursor: pointer;
}

.swiper-pagination {
  font-size: 10px;
  line-height: 100%;
  text-transform: uppercase;
  color: #ECEFDC;
  position: static;
  text-align: left;
}

.swiper__content {
  width: 100%;
    position: absolute;
    z-index: 2;
    bottom: 35px;
    left: 50%;
    z-index: 4;
    transform: translate(-50%);
    display: flex;
    align-items: center;
}