#id-page-webcam {
	.page__content {
		@include to(770px) {
			background: url(../images/bg/bg-web.png) no-repeat left top;
		}
	}

	.content-web {
		background: url(../images/bg/bg-web.png) no-repeat left top;
		z-index: -3;
		min-height: 100vh;

		@include to(770px) {
			min-height: auto;
			background: none;
		}
	}

	.pattern {
		height: 159px;
	}

	.webcam {
		margin-top: 40px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: 0 104px;
		display: grid;
		grid-template-columns: 1fr 4fr;
		grid-gap: 72px;
		width: 100%;
		justify-content: center;
		max-width: 1460px;
		align-items: center;

		@include to(1440px) {
			margin-top: 0;
			top: auto;
			bottom: 75px;
			transform: translate(-50%, 0);
			max-width: 1250px;
		}

		@include to(770px) {
			padding: 0 30px;
			grid-gap: 40px;
			position: static;
			transform: none;
			padding-bottom: 61px;
		}

		@include to(600px) {
			grid-template-columns: 1fr;
			justify-content: center;
			padding: 0 15px;
			padding-bottom: 45px;
		}

		@include to(480px) {
			grid-gap: 25px;
		}

		&__video {
			width: 100%;
			height: auto;
			border: none;
			height: 56.6vh;

			@include to(770px) {
				height: 41vh;
			}
		}
	}

	@include to(600px) {
		.block__btns {
			display: flex;
			flex-wrap: wrap;
			row-gap: 15px;
			justify-content: center;
		}
	}
}

.webcam-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 60px;

	@include to(375px) {
		margin-bottom: 30px;
		display: block;
	}

	.page-title {
		margin-bottom: 0;

		@include to(375px) {
			margin-bottom: 10px;
		}
	}
	&__link {
		display: flex;
		align-items: center;
		white-space: nowrap;
		font-size: 10px;
		line-height: 100%;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		text-decoration: none;
		color: #9EBC00;

		@include to(480px) {
			transform: translateY(-5px);
		}

		img {
			transition: all .4s;

			@include to(480px) {
				width: 44px;
			}
		}

    @media (min-width:1920px) {
      font-size: 12px;
    }
		p {
			margin-right: 20px;
			transform: translateY(3px);
		}

		&:hover {
			opacity: 0.8;

			img {
				transform: translateX(4px);
			}
		}

	}
}