.gallery.js-gallery
	.gallery__overlay  
	.gallery__top
		.container
			.gallery__top-wrap
				.date__block 
					+img('clock.svg').date__block_icon
					p 10.12.2020
				button(typ="button").btn-res.gallery__close.js-gallery-close
					span Закрити
					+svg('close')
			.gallery__title.page-title Січень
			button(type="button").gallery__back.btn-res.js-gallery-close.btn-with-triangle назад
	.gallery-main.swiper-container.js-gallery-main
		.swiper-wrapper 
			.swiper-slide 
				+img('/progress-slider/1.jpg')
			.swiper-slide 
				+img('/progress-slider/2.jpg')
			.swiper-slide 
				+img('/progress-slider/3.jpg')
			.swiper-slide 
				+img('/progress-slider/4.jpg')
			.swiper-slide 
				+img('/progress-slider/5.jpg')
	<div class="swiper-container gallery-thumbs js-gallery-thumbs">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				+img('/progress-slider/1.jpg')
			</div>
			<div class="swiper-slide">
				+img('/progress-slider/2.jpg')
			</div>
			<div class="swiper-slide">
				+img('/progress-slider/3.jpg')
			</div>
			<div class="swiper-slide">
				+img('/progress-slider/4.jpg')
			</div>
			<div class="swiper-slide">
				+img('/progress-slider/5.jpg')
			</div>
		</div>
	</div>
	.gallery__bottom 
		.container
			.gallery__bottom-content
				.gallery__bottom-wrap
					.gallery__controls.js-swiper__btns_gallery 
						<button class="js-swiper-button-prev_gallery slides-nav__button slides-nav__button--prev" aria-label="Previous slide">
							<svg viewBox="0 0 53 25" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M14 1C12.5 3.83333 7.7 10.1 0.5 12.5" stroke="#ECEFDC"/>
								<path d="M14 24C12.5 21.1667 7.7 14.9 0.5 12.5" stroke="#ECEFDC"/>
								<path d="M53 13H0" stroke="#ECEFDC"/>
							</svg>
						</button>
						<button class="js-swiper-button-next_gallery slides-nav__button slides-nav__button--next" aria-label="Previous slide">
							<svg viewBox="0 0 53 25" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M14 1C12.5 3.83333 7.7 10.1 0.5 12.5" stroke="#ECEFDC"/>
								<path d="M14 24C12.5 21.1667 7.7 14.9 0.5 12.5" stroke="#ECEFDC"/>
								<path d="M53 13H0" stroke="#ECEFDC"/>
							</svg>
						</button>
					.swiper-pagination
				.gallery__load 
					button(type="button").btn-res.gallery__load-btn--prev.js-gallery-load-prev.btn-with-triangle попередній місяць
					button(type="button").btn-res.gallery__load-btn--next.js-gallery-load-next.btn-with-triangle наступний місяць


.menu.js-menu 
		.pattern.pattern__small
		.menu__image.js-menu__image
			.menu__image-overlay.js-menu__image-overlay
			+img('bg/menu.jpg')
		.menu__container.container
			.vector.vector__menu
				.vector__rounded
			.menu__container-wrap
				h1.page-title.menu__title.js-menu__title Menu
				.menu__content
					ul.menu__block.menu__main.js-menu-item
						each el in menu1
							li.menu__block_item.menu__main_item
								a(href=el[1]).menu__block_link.menu__main_item= el[0]
					ul.menu__block.js-menu-item 
						each el in menu2
							li.menu__block_item
								a(href=el[1]).menu__block_link= el[0]
.overlay 
	.popup.popup-callback(data-popup-type="callback") 
		.popup__decor 
			+svg('global-decor')
		.popup__block
			button(type="button").popup__close.btn-res(data-popup-close="callback")
				+svg('close')
		form.popup__wrap
			.popup__title Замовити <br> дзвінок
			.popup__item 
				input.popup__input.btn-res(type="text" name="name" placeholder="Ім`я*" data-required="true" autocomplete="off")
				.popup__text-warn text
			.popup__item 
				input.popup__input.btn-res(type="tel" name="phone" placeholder="Телефон*" data-required="true" autocomplete="off")
				.popup__text-warn
			.popup__info-text Натискаючи *надіслати повідомлення*, ви надаєте згоду на обробку, зберігання та використання ваших персональних даних.
			button(type="submit" class="link__btn_green popup__submit") надіслати повідомлення
	.popup.popup-callback(data-popup-type="consult") 
		.popup__decor 
			+svg('global-decor')
		.popup__block
			button(type="button").popup__close.btn-res(data-popup-close="consult")
				+svg('close')
		form.popup__wrap
			.popup__title Замовити <br> консультацію
			.popup__item 
				input.popup__input.btn-res(type="text" name="name" placeholder="Ім`я*" data-required="true" autocomplete="off")
				.popup__text-warn text
			.popup__item 
				input.popup__input.btn-res(type="tel" name="phone" placeholder="Телефон*" data-required="true" autocomplete="off")
				.popup__text-warn text
			button(type="submit" class="link__btn_green popup__submit") надіслати повідомлення
	.popup.popup-callback(data-popup-type="manager") 
		.popup__decor 
			+svg('global-decor')
		.popup__block
			button(type="button").popup__close.btn-res(data-popup-close="manager")
				+svg('close')
		form.popup__wrap
			.popup__title Зв’язатися з <br> менеджером
			.popup__item 
				input.popup__input.btn-res(type="text" name="name" placeholder="Ім`я*" data-required="true" autocomplete="off")
				.popup__text-warn text
			.popup__item 
				input.popup__input.btn-res(type="tel" name="phone" placeholder="Телефон*" data-required="true" autocomplete="off")
				.popup__text-warn text
			button(type="submit" class="link__btn_green popup__submit") чекаю на дзвінок
	.popup.popup-price(data-popup-type="get-price")
		.popup__left
			.popup__left-wrap
				.popup__left-title Ціна від забудовника – від 35 тис. грн за кв. метр.
				.popup__left-text Детальніше про умови придбання та ціни на конкретні квартири можна дізнатися у відділі продажу. Замовляйте дзвінок і ми вам зателефонуємо»
		.popup__content
			.popup__decor 
				+svg('global-decor')
			.popup__block
				button(type="button").popup__close.btn-res(data-popup-close="get-price")
					+svg('close')
			form.popup__wrap
				.popup__title Дізнатися <br> про ціну
				.popup__item 
					input.popup__input.btn-res(type="text" name="name" placeholder="Ім`я*" data-required="true" autocomplete="off")
					.popup__text-warn text
				.popup__item 
					input.popup__input.btn-res(type="tel" name="phone" placeholder="Телефон*" data-required="true" autocomplete="off")
					.popup__text-warn text
				button(type="submit" class="link__btn_green popup__submit") Надіслати
	.popup.popup-callback.popup-thanks(data-popup-type="thanks") 
		.popup__decor 
			+svg('global-decor')
		.popup__block
			button(type="button").popup__close.btn-res(data-popup-close="thanks")
				+svg('close')
		.popup__wrap
			.popup__title Повідомлення <br> надіслано
			.popup__desc Дякуємо за звернення! Очікуйте на дзвінок з відділу продажів Urbanist.
			button(type="button").btn-res.link__btn_green.popup__thanks(data-popup-close="thanks") Зрозуміло
		.popup__pattern 

