
extends ../layout/main
block variable
  -
    var title_page = 'flat'
    var id_page = 'id-page-flat'
    var class_page = 'class-page-flat'
    var breadcrumbsSubitem = [
      {
        label: 'About',
        link: pagesLink[0].about
      }
    ]
  
block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/libs.js')
  script(defer src='./assets/scripts/index.js')
  script(defer src='./assets/scripts/header.js')
  script(defer src='./assets/scripts/flat.js')
block content
  h1 flat
block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
