
extends ../layout/main
block variable
  -
    var title_page = 'Галерея'
    var id_page = 'id-page-gallery'
    var class_page = 'class-page-gallery'
    var breadcrumbsBtn = 'gallery'
    var breadcrumbsLink = 'gallery'

block meta
  title= 'Галерея'
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/index.js')
  script(defer src='./assets/scripts/libs.js')
  script(defer src='./assets/scripts/gallery.js')
block content
  .gallery__decor
  .container-gallery
    <div class="swiper-container gallery-top js-gallery-main">
      <div class="swiper-wrapper">
        <div class="swiper-slide" style="background-image: url(assets/images/slider/1.jpg)">
        </div>
        <div class="swiper-slide" style="background-image: url(assets/images/slider/2.jpg)">
        </div>
        <div class="swiper-slide" style="background-image: url(assets/images/slider/3.jpg)">
        </div>
        <div class="swiper-slide" style="background-image: url(assets/images/slider/4.jpg)">
        </div>
        <div class="swiper-slide" style="background-image: url(assets/images/slider/1.jpg)">
        </div>
        <div class="swiper-slide" style="background-image: url(assets/images/slider/2.jpg)">
        </div>
      </div>  
    </div>
    .swiper__content.container
      .swiper__btns_gallery.js-swiper__btns_gallery
        <div class="swiper-button-prev_gallery js-swiper-button-prev_gallery slides-nav__button"> 
          <svg viewBox="0 0 53 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14 1C12.5 3.83333 7.7 10.1 0.5 12.5" stroke="#ECEFDC"></path>
            <path d="M14 24C12.5 21.1667 7.7 14.9 0.5 12.5" stroke="#ECEFDC"></path>
            <path d="M53 13H0" stroke="#ECEFDC"></path>
          </svg>
        </div>
        <div class="swiper-button-next_gallery js-swiper-button-next_gallery slides-nav__button"> 
          <svg viewBox="0 0 53 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14 1C12.5 3.83333 7.7 10.1 0.5 12.5" stroke="#ECEFDC"></path>
            <path d="M14 24C12.5 21.1667 7.7 14.9 0.5 12.5" stroke="#ECEFDC"></path>
            <path d="M53 13H0" stroke="#ECEFDC"></path>
          </svg>
        </div>
      <div class="swiper-pagination"></div>
    <div class="swiper-container gallery-thumbs js-gallery-thumbs">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          +img('slider/1.jpg')
        </div>
        <div class="swiper-slide">
          +img('slider/2.jpg')
        </div>
        <div class="swiper-slide">
          +img('slider/3.jpg')
        </div>
        <div class="swiper-slide">
          +img('slider/4.jpg')
        </div>
        <div class="swiper-slide">
          +img('slider/1.jpg')
        </div>
        <div class="swiper-slide">
          +img('slider/2.jpg')
        </div>
      </div>
    </div>
  .container-content.gallery.container
    include ../includes/breadcrumbs.pug
    h1.page-title Галерея
    

block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
