
extends ../layout/main
block variable
  -
    var title_page = 'Інфраструктура'
    var id_page = 'id-page-infrastructure'
    var class_page = 'class-page-infrastructure'
    var breadcrumbsLink = 'infra'
  
block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/libs.js')
  script(defer src='./assets/scripts/index.js')
  script(defer src='./assets/scripts/header.js')
  script(defer src='./assets/scripts/infrastructure.js')
  <script defer type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC4EBsCfQfnwCFGD_o8iLWwH97tmNCU-6E&amp;ver=1625051700" id="out-resurs-0-js"></script>
block content
  .container-content 
    .container
      include ../includes/breadcrumbs.pug
      h1.page-title Інфраструктура
  .map 
    .map__btn-mobile.js-open-infra.link__btn_green Инфраструктура
    .map__block.js-map 
    .map__infra.js-map-infra
      .map__infra-wrap
        button(type="button").btn-res.map__close.js-map-close Закрити  
      .map__infra-list
        .map__infra-item.js-map__infra-item.map__infra-item--1(data-category="complex")
          .map__infra-item-wrap
            +svg('1')
          span ЖК Urbanist
        .map__infra-item.js-map__infra-item.map__infra-item--2(data-category="metro")
          .map__infra-item-wrap
            +svg('2')
          span Метро
        .map__infra-item.js-map__infra-item.map__infra-item--3(data-category="park")
          .map__infra-item-wrap
            +svg('3')
          span Парки 
        .map__infra-item.js-map__infra-item.map__infra-item--4(data-category="study")
          .map__infra-item-wrap
            +svg('4')
          span Освіта
        .map__infra-item.js-map__infra-item.map__infra-item--5(data-category="restaraunt")
          .map__infra-item-wrap
            +svg('5')
          span Кафе, рестораны
        .map__infra-item.js-map__infra-item.map__infra-item--6(data-category="shop")
          .map__infra-item-wrap
            +svg('6')
          span Магазини
        .map__infra-item.js-map__infra-item.map__infra-item--7(data-category="sport")
          .map__infra-item-wrap
            +svg('7')
          span Спорт
        .map__infra-item.js-map__infra-item.map__infra-item--8(data-category="dance")
          .map__infra-item-wrap
            +svg('8')
          span Школи танцю 
        .map__infra-item.js-map__infra-item.map__infra-item--9(data-category="cinema")
          .map__infra-item-wrap
            +svg('9')
          span Кінотеатри
        .map__infra-item.js-map__infra-item.map__infra-item--10(data-category="pharmacy")
          .map__infra-item-wrap
            +svg('10')
          span Аптеки
        .map__infra-item.js-map__infra-item.map__infra-item--11(data-category="transport")
          .map__infra-item-wrap
            +svg('11')
          span Зупинки громадського транспорту
      a(href="#").map__link.link__btn_green обрати квартиру
block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
