
extends ../layout/main
block variable
  -
    var title_page = 'Хід будівництва'
    var id_page = 'id-page-progress'
    var class_page = 'class-page-progress'
    var breadcrumbsLink = 'progress'
  
block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/libs.js')
  script(defer src='./assets/scripts/index.js')
  script(defer src='./assets/scripts/header.js')
  script(defer src='./assets/scripts/progress.js')
block content
  .wrapper
    .content
      .container-content.container
        .vector.vector-main
          .vector__rounded
        include ../includes/breadcrumbs.pug
        h1.page-title Хід будівництва
        .pattern
        .progress 
          .progress__inf 
            h3.progress__inf_title Статус робіт:
            p.progress__inf_text Виконується монтаж ліфтів. Триває влаштування систем опалення, вентиляції, водопроводу, каналізації та електрики. 
            <div class="items">
              <div class="building-progress__info-item" data-progress="74">
                <div class="building-progress__info-percent">
                    <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <circle class="data-progress-circle" cx="32" cy="32" r="31.5" stroke="#9EBC00" style="stroke-dasharray: 113.914, 153.938; stroke-dashoffset: 267.852; transition: stroke-dashoffset 1.5s ease 0s; fill: none; transform-origin: center center;"></circle>
                    </svg><span class="building-progress__info-text">74%</span>
                </div>
                <div class="building-progress__info-name">будівництво</div>
              </div>
              <div class="building-progress__info-item" data-progress="25">
                <div class="building-progress__info-percent">
                    <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <circle class="data-progress-circle" cx="32" cy="32" r="31.5" stroke="#9EBC00" style="stroke-dasharray: 113.914, 153.938; stroke-dashoffset: 267.852; transition: stroke-dashoffset 1.5s ease 0s; fill: none; transform-origin: center center;"></circle>
                    </svg><span class="building-progress__info-text">25%</span>
                </div>
                <div class="building-progress__info-name">фасад</div>
              </div>
              <div class="building-progress__info-item" data-progress="62">
                <div class="building-progress__info-percent">
                    <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <circle class="data-progress-circle" cx="32" cy="32" r="31.5" stroke="#9EBC00" style="stroke-dasharray: 113.914, 153.938; stroke-dashoffset: 267.852; transition: stroke-dashoffset 1.5s ease 0s; fill: none; transform-origin: center center;"></circle>
                    </svg><span class="building-progress__info-text">62%</span>
                </div>
                <div class="building-progress__info-name">благоустрій</div>
              </div>
              <div class="building-progress__info-item" data-progress="17">
                <div class="building-progress__info-percent">
                    <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <circle class="data-progress-circle" cx="32" cy="32" r="31.5" stroke="#9EBC00" style="stroke-dasharray: 113.914, 153.938; stroke-dashoffset: 267.852; transition: stroke-dashoffset 1.5s ease 0s; fill: none; transform-origin: center center;"></circle>
                    </svg><span class="building-progress__info-text">17%</span>
                </div>
                <div class="building-progress__info-name">мережі</div>
              </div>
            </div>
            a.link__btn.btn(href="webcam.html") 
              span.btn__text Веб камера
          .progress__content
            .progress__blocks
              .progress__item.js-progress__item
                .progress__item__block
                  +img("progress.jpg").progress__item_photo
                  .progress__item__more
                    button.progress__item_button
                      +img('plus.svg')
                .progress__text 
                  p.progress__text_mounth Січень
                  .date__block 
                    +img('clock.svg').date__block_icon
                    p 10.12.2020
              .progress__item.js-progress__item
                .progress__item__block
                  +img("progress.jpg").progress__item_photo
                  .progress__item__more
                    button.progress__item_button
                      +img('plus.svg')
                .progress__text 
                  p.progress__text_mounth Січень
                  .date__block 
                    +img('clock.svg').date__block_icon
                    p 10.12.2020
              .progress__item.js-progress__item
                .progress__item__block
                  +img("progress.jpg").progress__item_photo
                  .progress__item__more
                    button.progress__item_button
                      +img('plus.svg')
                .progress__text 
                  p.progress__text_mounth Січень
                  .date__block 
                    +img('clock.svg').date__block_icon
                    p 10.12.2020
              .progress__item.js-progress__item
                .progress__item__block
                  +img("progress.jpg").progress__item_photo
                  .progress__item__more
                    button.progress__item_button
                      +img('plus.svg')
                .progress__text 
                  p.progress__text_mounth Січень
                  .date__block 
                    +img('clock.svg').date__block_icon
                    p 10.12.2020
              .progress__item.js-progress__item
                .progress__item__block
                  +img("progress.jpg").progress__item_photo
                  .progress__item__more
                    button.progress__item_button
                      +img('plus.svg')
                .progress__text 
                  p.progress__text_mounth Січень
                  .date__block 
                    +img('clock.svg').date__block_icon
                    p 10.12.2020
              .progress__item.js-progress__item
                .progress__item__block
                  +img("progress.jpg").progress__item_photo
                  .progress__item__more
                    button.progress__item_button
                      +img('plus.svg')
                .progress__text 
                  p.progress__text_mounth Січень
                  .date__block 
                    +img('clock.svg').date__block_icon
                    p 10.12.2020   
            .progress__pagination 
              button.disabled.pagination__button.pagination__button--prev.js-pagination__button-prev попередня
              button.pagination__button 1
              button.pagination__button 2
              button.pagination__button 3
              button.pagination__button 4
              button.pagination__button.pagination__button--next.js-pagination__button-next наступна
      
block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
