
extends ../layout/main
block variable
  -
    var title_page = 'selected'
    var id_page = 'id-page-selected'
    var class_page = 'class-page-selected'
    var breadcrumbsSubitem = [
      {
        label: 'About',
        link: pagesLink[0].about
      }
    ]
  
block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/libs.js')
  script(defer src='./assets/scripts/index.js')
  script(defer src='./assets/scripts/header.js')
  script(defer src='./assets/scripts/selected.js')
block content
  .selected
    .filters 
    .selected-content.apartment-content
      h1.page-title.selected__title Обране
      p.apartments__text.selected__count показано: 2 з 2
      .selected__blocks 
        .selected__flat 
          .selected__flat__photo 
            .selected__flat_number 2A
            +img('selected-flat.jpg').selected__flat_img
        .selected__flat 
          .selected__flat__photo 
            .selected__flat_number 2A
            +img('selected-flat.jpg').selected__flat_img


block header
  include ../includes/header.pug
