input {
  border-radius: 0;
}

#bingc-passive .bingc-styles {
  background: red !important;
}

#bingc-phone-button div.bingc-phone-button-tooltip.bingc-phone-button-tooltip-bottom-right {
  background: #9EBC00 !important;
}

#bingc-phone-button.bingc-phone-button svg.bingc-phone-button-circle circle.bingc-phone-button-circle-inside {
  fill: #9EBC00 !important;
}

#bingc-phone-button.bingc-phone-button:hover svg.bingc-phone-button-circle circle.bingc-phone-button-circle-inside {
  fill: #9EBC00 !important;
}

#bingc-phone-button.bingc-phone-button div.bingc-phone-button-tooltip svg.bingc-phone-button-arrow polyline {
  fill: #9EBC00 !important;
}

#bingc-passive.bingc-passive div.bingc-passive-overlay {
  background: #9EBC00 !important;
}

#bingc-passive.bingc-passive div.bingc-passive-overlay div.bingc-passive-content div.bingc-we-will-call-you {
  color: #fff !important;
}

#bingc-passive.bingc-passive div.bingc-passive-overlay div.bingc-passive-content div.bingc-we-will-call-you b {
  color: #fff !important;
}

#bingc-passive.bingc-passive div.bingc-passive-overlay div.bingc-passive-content div.bingc-phone-sample span {
  color: #fff !important;
}

#bingc-passive.bingc-passive div.bingc-passive-overlay div.bingc-passive-content div.bingc-phone-sample {
  opacity: 1;
}

#bingc-passive.bingc-passive div.bingc-passive-overlay div.bingc-passive-content div.bingc-statistics {
  color: #fff !important;
  opacity: 1;
}

#bingc-passive.bingc-passive div.bingc-passive-overlay a.bingc-powered-by span.bingc-powered-by-text {
  color: #fff !important;
  opacity: 1;
}

#bingc-passive.bingc-passive div.bingc-passive-overlay div.bingc-passive-content div.bingc-passive-get-phone-form form.bingc-passive-get-phone-form span.bingc-sample-countdown-timer span {
  color: #fff !important;
  opacity: 1;
}

#bingc-passive.bingc-passive div.bingc-passive-overlay div.bingc-passive-content div.bingc-passive-get-phone-form form.bingc-passive-get-phone-form span.bingc-sample-countdown-timer {
  color: #fff !important;
}

#bingc-passive.bingc-passive div.bingc-passive-overlay div.bingc-passive-content div.bingc-passive-get-phone-form form.bingc-passive-get-phone-form a.bingc-passive-phone-form-button {
  background: #9EBC00 !important;
  border: 1px solid #CAD1A6;
  transition: all .4s;
}

#bingc-passive.bingc-passive div.bingc-passive-overlay div.bingc-passive-content div.bingc-passive-get-phone-form form.bingc-passive-get-phone-form a.bingc-passive-phone-form-button:hover {
  background: #9EBC00 !important;
  border-color: transparent;
}

#bingc-active.bingc-active {
  background: rgba(#9EBC00, 0.98) !important;
}

#bingc-active.bingc-active a.bingc-active-close-button svg polygon {
  fill: #fff !important;
}

#bingc-active.bingc-active a.bingc-powered-by span.bingc-powered-by-text {
  color: #fff !important;
  opacity: 1;
}

#bingc-active a.bingc-active-close-button {
  opacity: 1 !important;
}

#bingc-passive.bingc-passive div.bingc-passive-overlay div.bingc-passive-content div.bingc-something-went-wrong {
  color: #fff !important;
}

#bingc-active.bingc-active div.bingc-active-overlay div.bingc-active-content div.bingc-we-will-call-you {
  color: #fff !important;
}

#bingc-active.bingc-active div.bingc-active-overlay div.bingc-active-content div.bingc-we-will-call-you span {
  color: #fff !important;
}

#bingc-active.bingc-active div.bingc-active-overlay div.bingc-active-content div.bingc-statistics {
  color: #fff !important;
  opacity: 1;
}

#bingc-active.bingc-active div.bingc-active-overlay div.bingc-active-content div.bingc-active-get-phone-form form.bingc-active-get-phone-form span.bingc-sample-countdown-timer span {
  color: #fff !important;
  opacity: 1;
}

#bingc-active.bingc-active div.bingc-active-overlay div.bingc-active-content div.bingc-active-get-phone-form form.bingc-active-get-phone-form span.bingc-sample-countdown-timer {
  color: #fff !important;
}

#bingc-active.bingc-active div.bingc-active-overlay div.bingc-active-content div.bingc-active-get-phone-form form.bingc-active-get-phone-form a.bingc-active-phone-form-button {
  background: #9EBC00 !important;
  border: 1px solid #CAD1A6;
  transition: all .4s; 
  font: 300 20px/48px Open sans,Ubuntu,Arial;
}

#bingc-active.bingc-active div.bingc-active-overlay div.bingc-active-content div.bingc-active-get-phone-form form.bingc-active-get-phone-form a.bingc-active-phone-form-button:hover {
  border-color: transparent !important;
  background: transparent !important;
}

#bingc-active.bingc-active div.bingc-active-overlay div.bingc-active-content div.bingc-something-went-wrong {
  color: #fff !important;
}

#bingc-passive.bingc-passive div.bingc-passive-overlay div.bingc-passive-content div.bingc-we-will-call-you-later {
  color: #fff !important;
}

#bingc-passive.bingc-passive div.bingc-passive-overlay div.bingc-passive-content div.bingc-we-will-call-you-later span.small-text {
  color: #fff !important;
}

#bingc-passive.bingc-passive div.bingc-passive-overlay div.bingc-passive-content div.bingc-we-already-call-you {
  color: #fff !important;
}

#bingc-passive.bingc-passive div.bingc-passive-overlay div.bingc-passive-content div.bingc-passive-countdown-timer {
  color: #fff !important;
}

body #bingc-phone-button div.bingc-phone-button-icon-text span {
  font-size: 9px !important;
  font-weight: bold !important;   
  }
 body #bingc-phone-button div.bingc-phone-button-icon-text {
top: 19px !important;
  right: 41px !important;
  }
  body #bingc-phone-button svg.bingc-phone-button-icon-icon {
  position: absolute;
  top: 16px !important;
  right: 37px !important;
  opacity: 0;
  padding: 7px;
  width: 46px;
  height: 47px !important;
  background-image: none;
  }
  body #bingc-phone-button div.bingc-phone-button-tooltip {
  display: none !important;
  color: #000 !important;
  background: #fff !important;
  }
  body #bingc-phone-button svg.bingc-phone-button-circle {
  width: 75px !important;
  height: 75px !important;
  }

  @media (max-width: 979px) { 
    body #bingc-phone-button div.bingc-phone-button-icon-text span {
    font-size: 9px !important;
 }
}
 @media (max-width: 979px) { 
  body #bingc-phone-button div.bingc-phone-button-icon-text {
  top: 19px !important;
    right: 41px !important;
  }
}
@media (max-width: 979px) { 
  body #bingc-phone-button svg.bingc-phone-button-icon-icon {
    position: absolute;
    top: 16px !important;
    right: 37px !important;
    opacity: 0;
    padding: 7px;
    width: 46px;
    height: 47px !important;
    background-image: none;
    }
  }
  @media (max-width: 979px) { 
    body #bingc-phone-button div.bingc-phone-button-tooltip {
    display: none !important;
    color: #000 !important;
    background: #fff !important;
    }
  }
    @media (max-width: 979px) { 
      body #bingc-phone-button svg.bingc-phone-button-circle {
    width: 75px !important;
    height: 75px !important;
    }
  }

#bingc-phone-button.bingc-phone-button {
  right: 0 !important;
}

.disabled {
  opacity: 0.7;
  cursor: not-allowed !important;
}

#id-page-3d {
  .container {
    max-width: 100%;
    padding-left: 50px;
    padding-right: 50px;
  }

  .header {
    pointer-events: none;
    
    @include to(480px) {
      padding-bottom: 10px;
      background: rgba(15, 28, 32, 0.95);
    }
  }

  .vector__menu .vector__rounded {
    @media (min-width: 2000px) {
      max-height: none !important;
      max-width: none !important;
      width: 14vw;
    }
  }

  .header-list {
    pointer-events: painted;

    &__item--2 {
      display: none;
    }

    &__item {
      &:not(:last-child) {
        @include to(1440px) {
          margin-right: 40px;
        }

        @include to(1370px) {
          margin-right: 30px;
        }

        @include to(480px) {
          margin-right: 15px;
        }

        @include to(320px) {
          margin-right: 13px;
        }
      }
    }
    // @include to(770px) {
    //   grid-template-columns: repeat(3, auto);
    // }
  }

  .header__logo {
    pointer-events: painted;
  }

  @media (min-width: 2000px) {
    .menu__container {
      padding-left: 17vw;
      padding-right: 12vw !important;
    }
  }

  @include to(1320px) {
    .phone-desk {
      display: none;
    }

    .phone-tablet {
      display: block;
    }
  }
}

body.loading {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: #0F1C20;
  }
}

.paginationjs {
  position: relative;
  z-index: 10;
}

.paginationjs-pages {
  margin-top: 46px;

  @include to(480px) {
    margin-top: 30px;
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;

    .paginationjs-page {
      &:not(:last-child) {
        margin-right: 20px;

        @include to(480px) {
          margin-right: 10px;
        }
      }

      &.active {
        a {
          cursor: default;
        }
      }

      a {
        color: #fff;
        text-decoration: none;
        transition: all .4s;

        &:hover {
          color: #9EBC00;
        }
      }

      &.active {
        a {
          color: #9EBC00;
        }
      }
    }

    .paginationjs-prev {
      margin-right: 40px;

      @include to(480px) {
        margin-right: 20px;
      }
    }

    .paginationjs-next {
      margin-left: 40px;

      @include to(480px) {
        margin-left: 20px;
      }
    }

    .paginationjs-next,
    .paginationjs-prev {
      
      &.disabled a {
        cursor: not-allowed;
      }
    }
  }
}

.link-opacity {
  transition: all .4s;

  &:hover {
    opacity: 0.8;
  }
}

.row {
	@include row-flex();
}
.page__inner {
  position: relative;
	display: flex;
	flex-direction: column;
	z-index: 2;
  min-height: 100vh;
	.page__content {
		flex-grow: 1;
	}
	.page__footer-wrapper {
		flex-shrink: 0;
	}
}

.wrapper {
  overflow: hidden;
}

.section-pading--top {
	padding-top: 60px;
}
.btn--res{
  border: none;
  background-color: transparent;
}

.brd{
  border: 1px solid red;
}

button {
  font-family: inherit;
}

.underline{
  position: relative;
  display: flex;
  color: #000;
  &::after{
    position: absolute;
    bottom: -2px;
    left: 0;
    display: flex;
    width: 100%;
    height: 1px;
    background-color: #000;
    content: "";
  }
}

.loading-indicator {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(#0F1C20, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  z-index: 1000;
  pointer-events: none;

  &.loading {
    opacity: 1;
    pointer-events: initial;

    .loadingio-spinner-dual-ring-74mtjdq34hq {
      opacity: 1;
      z-index: 1;
      display: flex !important;
    }
  }
}

.page-section {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.btn {
  position: relative;
  transition: all .4s;
  font-size: 12px !important;

  @media (min-width: 2000px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @include to(1440px) {
    font-size: 10px !important;
  }

  @include to(770px) {
    width: 240px !important;
  }

  @include to(480px) {
    width: 220px !important;
    height: 50px !important;
  }

  &__text {
    position: relative;
    z-index: 2;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 100%;
    background-color: #9EBC00;
    transition: all .5s cubic-bezier(.56,.49,.23,.48);
  }

  &:hover {
    border-color: transparent;

    &::before {
      height: 100%;
    }
  }
}

.link-with-opacity-animate {
  transition: all .4s;

  &:hover {
    opacity: 0.7;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(#0F1C20, 0.8);
  opacity: 0;
  z-index: -10;
  transition: all .4s;

  &.show {
    opacity: 1;
    z-index: 1000;
  }
}

.btn-res {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.popup {
  position: relative;
  padding: 30px;
  background: rgba(15, 28, 32, 0.9);
  border: 1px solid #2A363B;
  overflow: hidden;
  color: #fff;
  width: 485px;

  @include to(480px) {
    width: 100%;
    padding: 20px 15px;
  }

  &__decor {
    position: absolute;
    top: 0;
    left: 30px;
    
    svg {
      width: 35px;
      height: 28%;
    }

    @include to(480px) {
      display: none;
    }
  }

  &__text-warn {
    font-size: 14px;
    display: none;
    transition: all .4s;
  }

  &__block {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
  }

  &__close {
    width: 30px;
    height: 20px;
    transition: all .4s;

    @include to(1440px) {
      width: 28px;
      height: 18px;
    }

    svg {
      fill: #fff;
      width: 100%;
      height: 100%;
    }

    @include to(1440px) {
      min-width: 16px;
      min-height: 16px;
    }

    @include to(770px) {
      svg {
        width: 18px;
        height: 18px;
      }
    }

    @include to(720px) {
      z-index: 10;
    }

    &:hover {
      transform: rotate(180deg);
    }
  }

  &__title {
    margin-bottom: 40px;
    font-size: 38px;
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 0.05em;

    @include to(1440px) {
      font-size: 36px;
    }

    @include to(850px) {
      font-size: 30px;
    }

    @include to(720px) {
      font-size: 25px;
      margin-bottom: 25px;
    }
  }

  &__wrap {
    width: 300px;
    margin: 0 auto;

    @include to(770px) {
      width: 100%;
      margin-left: 30px;
      margin-right: 50px;
    }
  }

  &__item {
    margin-bottom: 10px;

    &.warn {
      .popup__text-warn {
        display: block;
      }
    }
  }

  &__input {
    width: 100%;
    padding-bottom: 20px;
    font-family: inherit;
    color: #fff;
    border-bottom: 1px solid rgba(236, 239, 220, 0.5);
    margin-bottom: 10px;
    -webkit-text-fill-color: #fff !important;
    cursor: initial;
    transition: all .4s;

    @include placeholder {
      color: #fff;
    }

    &:focus, &:active {
      border-color: #9EBC00;
    }
  }

  &__submit {
    margin-top: 40px;
    margin-bottom: 50px;

    @include to(850px) {
      margin-top: 15px;
    }

    @include to(480px) {
      margin-top: 25px;
      margin-bottom: 15px;
    }
  }

  &-thanks {
    padding-bottom: 0;

    .popup__block {
      margin-bottom: 34px;
    }

    .popup__desc {
      width: 350px;
    }

    .popup__title {
      margin-bottom: 30px;
    }

    .popup__desc {
      margin-bottom: 28px;
    }

    .popup__pattern {
      height: 160px;
      background: url(../images/pattern2.png);
      background-position: left bottom;
      background-repeat: repeat;
      margin-top: 20px;
      width: calc(100% + 60px);
      margin-left: -30px;
    }
  }

  &__left {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(../images/pattern2.png);
    background-position: left bottom;
    background-repeat: repeat;

    &-wrap {
      position: relative;
      z-index: 3;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(#0A171C, 0.7);
    }

    &-wrap {
      max-width: 270px;

      @include to(1440px) {
        max-width: 240px;
      }

      @include to(770px) {
        max-width: 200px;
      }

      @include to(720px) {
        max-width: 100%;
        padding: 0 20px;
        padding-top: 40px;
        padding-bottom: 30px;
      }

      @include to(480px) {
        padding-top: 50px;
      }
    }

    &-title {
      margin-bottom: 20px;
      font-size: 26px;
      line-height: 1.4em;
      text-transform: uppercase;
      color: #9EBC00;

      @include to(1440px) {
        font-size: 24px;
      }

      @include to(850px) {
        font-size: 16px;
      }

      @include to(770px) {
        margin-bottom: 30px;
      }

      @include to(720px) {
        margin-bottom: 10px;
      }
    }
  }

  &__content {
    position: relative;
    padding: 30px;

    @include to(850px) {
      .popup__decor {
        display: none;
      }
    }

    @include to(770px) {
      .popup__wrap {
        margin-right: 0;
        padding-right: 50px;
      }

      margin-left: 20px;
      padding-left: 0;
      padding-right: 49px;
    }

    @include to(720px) {
      padding-top: 20px;
      position: static;
      margin-left: 0;
    }

    @include to(480px) {
      padding-right: 10px;
    }
  }

  &-callback {
    @include to(770px) {
      .popup__wrap {
        width: 300px;
        margin: 0 auto;
      }

      .popup__submit {
        margin-top: 40px;
      }
    }

    @include to(480px) {
      .popup__submit {
        margin-top: 25px;
      }

      .popup__wrap {
        margin: 0;
        width: calc(100% - 5px);
      }
    }
  }

  &-price {
    padding: 0;
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    min-width: 871px;

    @include to(850px) {
      width: calc(100% - 90px);
      min-width: auto;
      grid-template-columns: 1.7fr 2fr;
    }

    @include to(720px) {
      width: calc(100% - 30px);

      .popup__close {
        position: absolute;
        top: 10px;
        right: 10px;
      }
      overflow-y: auto;
      max-height: 100vh;

      &::-webkit-scrollbar-thumb {
        background-color: #9EBC00;
      }

      &::-webkit-scrollbar-track {
        -webkit-box-shadow: none !important;
        background-color: transparent;
      }
    }

    @include to(650px) {
      display: block;
    }
  }
}

.btn-with-triangle {
  position: relative;
  display: inline-flex;
  align-items: center;
  text-transform: uppercase;
  color: #ECEFDC;
  font-size: 12px;

  @include to(1440px) {
    font-size: 10px;
  }

  &::before {
    content: "";
    display: block;
    width: 0; 
    height: 0; 
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent; 
    border-right: 7px solid #FFF2E4; 
    margin-right: 10px;
    transition: all .4s;
  }

  &:hover:not(.disabled) {
    &::before {
      transform: translateX(-3px);
    }
  }
}

.page404-wrap {
  display: flex;
  justify-content: center;
  padding-top: 28vh;
  padding-bottom: 5vh;
  color: #fff;

  .vector__rounded {
    max-height: 470px;
    max-width: 178px;
  }

  @media (max-width: 1440px) and (max-height: 768px) {
    .vector__rounded {
      max-height: 440px;
      max-width: 173px;
    }
  }

  @include to(1100px) {
    .vector-main {
      left: 50px;
    }
  }

  @include to(770px) {
    .vector-main {
      left: 30px;
    }

    padding-top: 20vh;
    padding-bottom: 11vh;
  }

  @include to(720px) {
    padding-bottom: 0;

    padding-top: 22vh;
  }

  .container {
    width: 100%;
    text-align: center;
  }

  .button-fill {
    transition: all .4s;

    &:first-child {
      margin-right: 30px;
    }

    &:hover {
      opacity: 0.7;
    }
  }
}

.page404__title {
  margin-bottom: 10px !important;
  font-family: $default-font !important;
  font-weight: 400 !important;
}

.page404__subtitle {
  font-size: 18px;
  margin-bottom: 15px;

  @include to(720px) {
    font-size: 16px;
  }
}

.link-wrap {
  margin-top: 40px;

  @include to(720px) {
    margin-top: 30px;
  }

  @include to(480px) {
    margin-top: 22px;
  }
}

.gm-style-pbc {
  background: rgba(245, 246, 247, 0.8);

  .gm-style-pbt {
    color: #0F1C20;
  }
}

.swiper-button-disabled {
  opacity: 0.6;
  pointer-events: none;
}
