.footer {
  background: #0F1C20;
  padding-bottom: 50px;
  z-index: -2;
  &__content {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #2A363B;
    margin-top: 100px;
    padding-bottom: 50px;
  }
  
  &__form {
    width: 268px;
  }
  &__input {
    padding-bottom: 30px;
    border-bottom: 1px solid #2A363B;
    margin-bottom: 30px;
    &_title {
      font-weight: normal;
      font-size: 14px;
      line-height: 160%;
      text-transform: uppercase;

      color: #9EBC00;
      margin-bottom: 30px;
      
    }
    &_label {
      font-weight: normal;
      font-size: 30px;
      line-height: 100%;

      color: #ECEFDC;
    }
    &_inp {
      width: 149px;
      background: transparent;
      outline: none;
      border: none;
      border-bottom: 2px solid #ECEFDC;
      font-size: 30px;
      line-height: 100%;

      color: #ECEFDC;
      cursor: pointer;
    }
  }
  &__send {
    &_btn {
      background: transparent;
      border: 1px solid #CAD1A6;
      width: 240px;
      height: 50px;
      font-size: 10px;
      line-height: 100%;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #ECEFDC;
      cursor: pointer;
    }
  }
  &__contacts {
    width: 290px;
    &_item {
      margin-bottom: 20px;
    }
    &_title {
      font-weight: normal;
      font-size: 12px;
      line-height: 160%;
      text-transform: uppercase;

      color: #ECEFDC;
      margin-bottom: 5px;
    }
    &_desc {
      font-weight: normal;
      font-size: 14px;
      line-height: 160%;
      /* or 22px */
      color: #79868A;
      text-decoration: none;
    }
  }
  &__inf {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: normal;
    font-size: 14px;
    line-height: 100%;
    color: #79868A;
    &_link {
      color: #79868A;
      text-decoration: none;
    }
  }
  &__social {
    display: flex;
    &_icon {
      height: 16px;
      width: auto;
      margin-right: 25px;
    }
  }
}

