.footer {
  background: #0F1C20;
  padding-bottom: 15px;
  &__content {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #2A363B;
    margin-top: 100px;
    flex-wrap: wrap;
    padding-bottom: 50px;

    @include to(850px) {
      margin-top: 70px;
      padding-bottom: 25px;
    }

    @include to(480px) {
      justify-content: center;
      margin-top: 45px;

      .menu__block {
        width: 50%;

        &:nth-child(2) {
          padding-left: 17px;
        }
      }
    }
  }
  
  &__form {
    width: 300px;
    
    .popup__text-warn {
      padding-top: 0;
      color: #fff;
      display: none;
      margin-top: 5px;
    }

    &-wrap {
      flex-wrap: wrap;
    }

    &-wrap.warn {
      position: relative;

      .popup__text-warn {
        color: #fff;
        display: block;
      }
    }

    @include to(1440px) {
      width: 268px;
    }

    @include to(850px) {
     
      margin-top: 40px;
      order: 1;
      display: flex;
      width: auto;

      &-wrap {
        display: flex;
        align-items: flex-start;

        @include to(770px) {
          margin-left: 20px;
        }

        @include to(480px) {
          margin-left: 0;
          overflow: hidden;
          display: grid;
          grid-template-columns: 1fr 5fr;
        }

        @include to(375px) {
          grid-template-columns: 2fr 7fr;
        }
      }

      .footer__send {
        @include to(480px) {
          margin-top: 25px;
          display: flex;
          justify-content: center;
        }
      } 

      .footer__input {
        display: flex;
        margin-right: 20px;

        @include to(770px) {
          display: grid;
          grid-template-columns: 1fr 1.3fr;
        }

        &_title {
          max-width: 240px;

          @include to(480px) {
            max-width: 100%;
            margin-right: 0;
          }
        }

        &_inp {
          width: calc(65% - 10px);
          margin-left: 10px;

          @include to(480px) {
            width: 100%;
          }
        }

        @include to(770px) {
          margin-right: 10px;
        }
      }
    }

    @include to(480px) {
      display: block;
      margin-top: 25px;

      .footer__input {
        display: block;
      }
    }
  }
  &__input {
    padding-bottom: 30px;
    border-bottom: 1px solid #2A363B;
    margin-bottom: 30px;

    @include to(850px) {
      border: none;
      padding-bottom: 0;
      margin-bottom: 0;
    }

    &_title {
      font-weight: normal;
      font-size: 15px;
      line-height: 160%;
      text-transform: uppercase;
      color: #9EBC00;
      margin-bottom: 30px;
       
      @include to(1440px) {
        font-size: 14px;
      }

      @include to(480px) {
        margin-bottom: 20px;
      }
      
    }
    &_label {
      font-weight: normal;
      font-size: 30px;
      line-height: 100%;
      color: #ECEFDC;

      @include to(850px) {
        font-size: 25px;
        transform: translateY(3px);
      }
    }
    &_inp {
      width: 185px;
      background: transparent;
      outline: none;
      border: none;
      border-bottom: 2px solid #ECEFDC;
      font-size: 30px;
      line-height: 100%;
      -webkit-text-fill-color: #fff !important;
      color: #ECEFDC;
      transition: all .4s;

      @include to(1440px) {
        width: 149px;
      }

      @include to(850px) {
        width: 165px;
        font-size: 25px;
      }

      &:focus,&:active {
        border-color: #9EBC00;
      }
    }
  }
  &__send {
    &_btn {
      background: transparent;
      border: 1px solid #CAD1A6;
      width: 90%;
      height: 50px;
      font-size: 10px;
      line-height: 100%;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #ECEFDC;
      cursor: pointer;

      @include to(1440px) {
        width: 240px;
      }

      @include to(850px) {
        width: 200px;
      }
    }
  }
  &__contacts {
    width: 290px;

    @include to(1025px) {
      width: 240px;
    }

    @include to(480px) {
      width: 100%;

      ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 30px;
        align-items: flex-start;
        justify-content: space-between;
      }

      .footer__social {
        width: 100%;
        justify-content: center;
        display: flex;

        &_item {
          &:not(:last-child) {
            margin-right: -15px;
          }
        }
      }
    }

    &_item {
      margin-bottom: 20px;
    }
    &_title {
      font-weight: normal;
      font-size: 13px;
      line-height: 160%;
      text-transform: uppercase;

      @include to(1440px) {
        font-size: 12px;
      }

      color: #ECEFDC;
      margin-bottom: 5px;
    }
    &_desc {
      font-weight: normal;
      font-size: 15px;
      line-height: 160%;
      /* or 22px */
      color: #79868A;
      text-decoration: none;

      @include to(1440x) {
        font-size: 14px;
      }
    }
  }
  &__inf {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: normal;
    font-size: 14px;
    line-height: 100%;
    color: #79868A;
    &_link {
      color: #79868A;
      text-decoration: none;
    }
  }
  &__social {
    display: flex;
    &_icon {
      height: 18px;
      width: auto;
      margin-right: 25px;

      @include to(1440px) {
        height: 16px;
      }
    }
  }
}

